name: CPU miner

on:
  push:
    branches:
      - main
      - develop
  pull_request:
    branches:
      - main
      - develop

env:
  BUILD_TYPE: Release

jobs:
  build:
    runs-on: ubuntu-20.04
    steps:
      - uses: actions/checkout@v2
      - name: Install dependencies
        run: |
          sudo apt-get update && \
          sudo apt-get install -yq \
          build-essential \
          wget \
          unzip \
          cmake \
          pkg-config \
          rapidjson-dev \
          libgmp-dev \
          libboost-container-dev \
          libboost-thread-dev \
          libboost-log-dev \
          libgtest-dev
      - name: Install CLI11
        run: |
          wget https://github.com/CLIUtils/CLI11/releases/download/v1.9.1/CLI11.hpp && \
          sudo mkdir -p /usr/local/include/CLI && \
          sudo mv CLI11.hpp /usr/local/include/CLI/CLI.hpp
      - name: Install jsonrpc-lean
        run: |
          wget https://github.com/uskr/jsonrpc-lean/releases/download/1.1.0/jsonrpc-lean-1.1.0.zip && \
          unzip jsonrpc-lean-1.1.0.zip && \
          sudo mv include/* /usr/local/include
      - name: Configure CMake
        run: |
          cmake -B ${{github.workspace}}/build \
          -DCMAKE_BUILD_TYPE=${{env.BUILD_TYPE}} \
          -DCUDA_MINER=OFF \
          -DBUILD_BENCHMARK=OFF
      - name: Build
        run: cmake --build ${{github.workspace}}/build --config ${{env.BUILD_TYPE}}
      - name: Test
        working-directory: ${{github.workspace}}/build
        run: ctest -C ${{env.BUILD_TYPE}}
      - name: Create .deb
        working-directory: ${{github.workspace}}/build
        run: cpack -G DEB
      - name: Create release
        uses: softprops/action-gh-release@v1
        with:
          draft: true
          files: ${{github.workspace}}/build/blue-space-*-Linux.deb